

<app-generic-paginated-table
  [formFields]="formFields"
  [onSubmit]="handleOnSubmit"
  [tbodyReference]="crewsTableBody"
  *ngIf="allCrews.length> 0"
  [data]="allCrews"
  [pageSize]="8"
  [tableTitles]="tableTitles"
  searchField="name"
  searchForTitle="nombre/apellido"
  [createInfo]="createInfo"
>
</app-generic-paginated-table>

<ng-template #crewsTableBody let-data="data">
  <tbody>
    @for (crew of data; track crew.id){
    <tr>
      <th>{{crew['dni']}}</th>
      <td>{{crew['name']}}</td>
      <td>{{crew['lastname']}}</td>
      <td>
        <a appCursorPointer (click)="onRemove(crew.id)">
          <fa-icon [icon]="removeIcon" class="text-black"></fa-icon>
        </a>
      </td>
    </tr>
    }
  </tbody>
</ng-template>
