<div class="container mt-5">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-8 col-md-3">
        <span class="row m-1">Buscar por {{searchForTitle}}</span>
        <input
          class="form-control col ms-0"
          maxlength="5"
          type="text"
          [formControl]="searchControl"
        />
      </div>
      <button
        class="btn btn-info col-2 h-50 text-white"
        [ngClass]="{'floating-button': isMobile}"
        data-bs-toggle="modal"
        data-bs-target="#modalForm"
      >
        {{createInfo.buttonText}}
      </button>
    </div>
  </div>
  
  <app-generic-modal-form
    [formFields]="formFields"
    [onSubmit]="onSubmit"
    targetId="modalForm"
    [title]="createInfo.modalTitle"
  ></app-generic-modal-form>
  
  <div class="container mt-5">
    <table class="table table-striped table-hover text-center">
      <thead>
        <tr>
          <th scope="col" *ngFor="let title of tableTitles">{{title}}</th>
        </tr>
      </thead>
      <ng-container *ngTemplateOutlet="tbodyReference;context: { data: pageData() }"></ng-container>
    </table>
  </div>
  
  <div class="container d-flex justify-content-center mt-5">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" appCursorPointer>
          <a class="page-link" (click)="onChangePage(currentPage -1)">Anterior</a>
        </li>
        <li
          class="page-item"
          appCursorPointer
          [ngClass]="{'active': currentPage === page -1}"
          *ngFor="let page of pages"
        >
          <a class="page-link" (click)="onChangePage(page - 1)">{{page}}</a>
        </li>
        <li class="page-item" appCursorPointer>
          <a class="page-link" (click)="onChangePage(currentPage +1)"
            >Siguiente</a
          >
        </li>
      </ul>
    </nav>
  </div>
  