

<app-generic-paginated-table
  [formFields]="formFields"
  [onSubmit]="onSubmit"
  [title]="'olanda'"
  [tbodyReference]="homeTableBody"
  *ngIf="allArrivals.length> 0"
  [data]="allArrivals"
  [pageSize]="8"
  [tableTitles]="tableTitles"
  searchField="code"
  [createInfo]="createInfo"
>
</app-generic-paginated-table>

<ng-template #homeTableBody let-data="data">
  <tbody>
    @for (arrival of data; track arrival.id){
    <tr>
      <td>{{arrival['date'] | date: 'dd/MM'}}</td>
      <th>{{arrival['code']}}</th>
      <td>{{arrival['date'] | date: 'hh:mm'}}</td>
      <td>{{arrival['observations']}}</td>
      <td>
        <select
          class="btn btn-danger dropdown-toggle w-50"
          [ngModel]="arrival.cleaner?.id"
          (ngModelChange)="onChangeCleaner(arrival.id, $event)"
        >
          <option [value]="''" disabled *ngIf="!arrival.cleaner">
            Seleccionar
          </option>
          <option *ngFor="let crew of crews" [value]="crew.id">
            {{ crew.name }}
          </option>
        </select>
      </td>
      <td>{{getStateString(arrival['state'])}}</td>
      <td>
        <a appCursorPointer (click)="onRemove(arrival.id)">
          <fa-icon [icon]="removeIcon" class="text-black"></fa-icon>
        </a>
      </td>
    </tr>
    }
  </tbody>
</ng-template>
